.git
.env
.env.*
.phpunit.cache
.phpunit.result.cache
.DS_Store
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
docker-compose.yml
npm-debug.log
yarn-error.log
